<ion-header>
  <ion-toolbar>
    <ion-title>Canchas sinteticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>
    El césped artificial es una superficie de fibras sintéticas que parece césped natural. Se usa con mayor frecuencia en estadios para deportes que originalmente se jugaban o se juegan sobre césped. Sin embargo, ahora se está utilizando en céspedes residenciales y también en aplicaciones comerciales. La razón principal es el mantenimiento: el césped artificial resiste un uso intensivo, como en los deportes, y no requiere riego ni recorte. Los estadios abovedados, cubiertos y parcialmente cubiertos pueden requerir césped artificial debido a la dificultad de obtener suficiente luz solar del césped para mantenerse saludable. Sin embargo, el césped artificial tiene sus desventajas: vida limitada, requisitos de limpieza periódica, uso de petróleo, químicos tóxicos del relleno y mayores problemas de salud y seguridad.
  </p>

</ion-content>
